<button class="btn btn-primary" routerLink="add">Create</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">1</th>
    <td>{{ user.name }}</td>
    <td>{{ user.email}}</td>
    <td>
      <button (click)="delete(user.id)">Delete</button>
      <button class="btn btn-primary" [routerLink]="[user.id, 'edit']" >Edit</button>
    </td>
  </tr>

  </tbody>
</table>
